body {
    font: 15px/1.5 Arial, Helevetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* gobal */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button1 {
    height: 40px;
    padding: 0px 30px 0px 30px;
    background: rgb(158, 170, 177);
    border: none;
    color: #f4f4f4;
    font-size: 15px;
    margin-left: 5px;
}


.dark {
    margin: 10px 0px;
    background: #3a444e;
    color: white;
    padding: 15px;
}

/* header  */
header {
    background-color: rgba(243, 241, 230, 0.842);
    border-bottom: 3px solid #726d67;
    padding: 20px;
    color: white;
}

header #brand {
    font-size: 35px;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header a.current {
    color: #dc6f6f;
}


header #brand {
    float: left;
}

header nav {
    margin-top: 40px;
    float: right;
}

header ul li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

/* showcase */
#showcase {
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/white1.jpg');
    color: #f4f4f4;
    text-align: center;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    backface-visibility: hidden;
    background-size: cover; /* Resize the background image to cover the entire container */
    animation:slider 16s linear infinite 4s;

    /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

@keyframes slider {

    0% { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/white1.jpg'); 
    
    }
    
    25%{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/3.jpg'); 
    }

    75% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/6.jpg'); 
    }
}

#showcase h1 {
    margin: 100px 0px 0px 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 25px;
    width: 80%;
    margin: auto;
}

/* newsletter */
#newsletter {
    background: rgba(243, 241, 230, 0.842);
    color: black;
    padding: 15px;
    font-size: 15px;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type=email] {
    padding: 10px;
    width: 250px;
    height: 15px;
    font-size: 15px;
}

/* boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    width: 30%;
    float: left;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

#boxes .box p {
    width: 70%;
    margin: auto;
}

/* main-col */

article#main-col {
    margin-top: 10px;
    float: left;
    width: 65%;
}

/* sidebar  */
aside#sidebar {
    width: 30%;
    float: right;
    margin-top: 10px;
}

/* services */
article#services-col {
    margin-top: 10px;
    float: left;
    width: 65%;
}

article#services-col ul li {
    border: 2px solid rgba(128, 128, 128, 0.294);
    padding: 20px;
    margin-bottom: 10px;
}

.contact-form input[type="text"], input[type="email"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
}

/* footer  */
footer {
    background: lightgray;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
    bottom: 0;

}

/* media quereies */


@media (max-width: 768px) {
    #brand, header nav, header nav ul li, #boxes .box, article#main-col, aside#sidebar, article#services-col {
        float: none;
        width: 98%;
        text-align: center;
        padding: 0;
        margin: 5px;
    }

    #showcase h1 {
        margin-top: 20px;
    }

    header {
        padding-bottom: 20px;
    }

    #newsletter h1, form {
        float: none;
        width: 98%;
        text-align: center;
    }

    #newsletter .button1 {
        display: block;
        width: 100%;
    }

    #newsletter input[type="email"] {
        width: 100%;
    }

}


/* Products Css*/
#products {
    padding: 5%;
}

.products {
    display: grid;
    grid-template-columns: 100%;
}

.product {
    margin: 25px;
    padding: 25px;
    background-color: #cecece30;
}

.product:hover {
    box-shadow: 0px 0px 5px #3a444e;
}

.product .image {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}

.product .image img {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}


@media (min-width: 600px) {
    .products {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1200px) {
    .products {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 1600px) {
    .products {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}


/*Details page*/

#product-details {
    padding: 5%;
}

#product-details .title h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.product-details {
    display: flex;
}


.product-details .description-column {
    padding: 5%;
    flex-basis: 70%;
}

.product-details .description-column .images img{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.product-details .specifications-column {
    padding: 5% 0;
    flex-basis: 30%;
    justify-content: center;
}

.specifications-list {
    list-style: none;
}

.specifications-list li {
    padding: 10px;
    font-size: 1.2rem;
}

.specifications-list li:nth-child(odd) {
    background: #cecece30;
}

.specifications-list li span {
    font-weight: bold;
    margin-right: 25px;
}

.specifications-list li span:after {
    content: ':';
}

.dark {
    margin-top: 60px;
}